html,
body,
#root,
.bg,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

// Fonts
@font-face {
    font-family: 'Archive'; /*a name to be used later*/
    src: url('../resources/fonts/Archive-Regular.ttf') format('truetype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KozukaM'; /*a name to be used later*/
    src: url('../resources/fonts/KozGoPr6N-Medium.otf') format('opentype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa Light'; /*a name to be used later*/
    src: url('../resources/fonts/NexaLight.otf') format('opentype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa Bold'; /*a name to be used later*/
    src: url('../resources/fonts/NexaBold.otf') format('opentype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}

body {
  background: #171717;
}

.bg {
  position: absolute;
  background: rgb(13, 13, 41);
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  background: #272727;
}

.loading-bar {
  height: 3px;
  background: white;
}

h1, h2 {
  position: absolute;
  font-family: 'Archive', sans-serif;
  font-weight: 800;
  font-size: 10em;
  z-index: 3;
  transform: translate3d(-50%, 0, 0);
  margin: auto;
  text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.2);
  color: #00e59a;
  line-height: 0.75em;
  letter-spacing: -5px;
  text-align: center;
  white-space: pre;
}

h1 {
  top: 37%;
  left: 50%;
}

h2 {
  font-family: 'KozukaM', sans-serif;
  font-size: 4em;
  top: 54%;
  left: 50%;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(0deg, rgba(63, 12, 88, 0.2) 0%, transparent 100%);
  pointer-events: none;
}

span.header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  width: 500px;
  transform: translate3d(0, -50%, 0);
  font-size: 9em;
  line-height: 0.9em;
  pointer-events: none;
  top: 350px;
  left: 50px;
}

span.header-left {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  transform: translate3d(0, -50%, 0);
  line-height: 1em;
  top: 200px;
  left: 60px;
  font-size: 4em;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  a.bottom-left {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    transform: translate3d(-50%, 0, 0);
    font-size: 8em;
    letter-spacing: -5px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    transform: translate3d(-50%, 0%, 0);
    font-size: 4em;
    letter-spacing: -5px;
  }
}

a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: inherit;
  position: absolute;
  display: inline;
  text-decoration: none;
  z-index: 1;
  color: white;
}

a.top-left {
  top: 60px;
  left: 60px;
}

a.top-right {
  top: 60px;
  right: 60px;
}

a.bottom-left {
  bottom: 60px;
  left: 60px;
}

a.bottom-right {
  bottom: 60px;
  right: 60px;
}

.horizontalNavbar {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 4.5em;
    overflow: hidden;
}

.navBackground {
    background-color: #00e59a;
    position: absolute;
    transition: background-color 1s;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.navBackground.active {
  background-color: blue;
}

.navIcons {
    z-index: 4;
    display: flex;
    justify-content: space-between;
    margin: 0.6em 1em 0 1em;
}

.logo {
    width: 3em;
    height: 3em;
    z-index: 4;
}

.socialIcons {
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    font-size: 2rem;
    margin: 0.25em;
}

.socialIcons a {
  margin: 0 0.3em 0 0.3em;
  display: contents;
}

.socialIcons a i {
  font-size: 2rem;
  transition: color 0.3s;
  color: white;
  display: flex;
}

.socialIcons a i:hover {
  color: rgb(240, 240, 240, 0.7);
}

.continue {
    position: relative;
    bottom: 4em;
    width: 100%;
    text-align: center;
    color: white;
}

.continue .svg-icon {
    width: 3em;
    height: 3em;
    transform: rotate(90deg);
    cursor: pointer;
}

.slide {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.slide.left {
  
}

.cutout {
  width: 60em;
  height: 37em;
  position: relative;
  bottom: 1.7em;

}

.cutout.left {
  clip-path: polygon(100% 0%, 70% 100%, 0% 100%, 0% 0%);
  left: 2em;
}

.cutout.right {
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 30% 0%);
  margin-left: 41em;
  overflow: hidden;
}

.cutoutimg {
  width: auto;
  height: auto;
  position: relative;
  right: 15em;
}

.slideInfoContainer {
  position: relative;
  bottom: 14.5em;
}

.slideInfoContainer.left {
  left: 2.5em;
  text-align: left;
}

.slideInfoContainer.right {
  right: 2.5em;
  text-align: right;
}

.slideNumber {
  font-family: 'Archive', 'sans-serif';
  color: white;
  font-size: 8em;
  letter-spacing: -0.06em;
}

.slideSub {
  font-family: 'Nexa Light', 'sans-serif';
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.02em;
  margin-top: -0.8em;
}

.slideSubJp {
  font-family: 'KozukaM', 'sans-serif';
  font-size: 3em;
  margin-top: -1.3em;
}

.textContainer.left {
  margin-left: auto;
  margin-right: 15%;
  margin-top: -53.5%;
  text-align: right;
  max-width: 15em;
}

.textContainer.right {
  margin-right: auto;
  margin-left: 15%;
  margin-top: -53.5%;
  text-align: left;
  max-width: 15em;
}

.textContainer .textTitle {
  font-family: 'Archive', 'sans-serif';
  color: #4f98dc;
  font-size: 4em;
}

.textContainer .textDescription {
  font-family: 'Nexa Light', 'sans-serif';
  color: white;
  font-size: 1.5em;
}

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 110px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul {
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
    font-family: 'Archive', 'sans-serif';
    font-size: 12px;
    float: left;
}

.sidenav li {
    cursor: pointer;
    float: left;
    position: relative;
    top: 10px;
    right: 10px;
    margin-top: 2.5vw;
    opacity: 0.35;
    transition: opacity 0.5s linear;
}

.sidenav li.active {
    opacity: 1;
}

.sidenav li:hover {
    opacity: 1;
}


.sidenav a{
    display: block;
    color: $colorHighlight;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}